$navbar-padding-a:           10px 15px;


$padding-small-vertical:     5px !default;
$padding-zero:               0px !default;

$font-size-large:            18px !default;

$font-weight-normal:         400 !default;

$white-color:                #FFFFFF !default;

$purple-color-bottom: 	      #943bea;

$new-purple:                  #9368E9;


$black-color-top:	 	            #787878;
$black-color-bottom: 	            #343434;